.myprofile{
    height: 100vh;
    width: 100%;
    color:white;
}

.myprofile_body{
    display: flex;
    max-width: 800px;
    flex-direction: column;
    margin-left:  auto;
    margin-right: auto;
    width: 80%;
    padding: 4%;
}


.myprofile_info{
    display: flex;
    margin-top: 20px;
}

.myprofile_info img{
    height:100px;
}

.myprofile_body h1{
    font-size: 60px;
    margin-top: 10%;
    font-weight: bold;
    border-bottom: 1px solid rgb(73, 69, 69);
}

.myprofile_details{
    margin-left: 4%;
    flex:1;
}

.myprofile_details h2{
    background-color: grey;
    font-size: 17px;
    padding: 10px;
}
.plans{
    width: 100%;
}
.myprofile_signout{
    margin-top: 5%;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: red;
}

.plans h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    border-bottom: 1px solid rgb(73, 69, 69);
}

.plan{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
}
.about{
    opacity: 0.9;
    font-weight: bold;
}
.plan button{
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 2%;
    margin-right: 1%;
    font-size: 19px;
    border-radius: 2px;
    font-weight: bolder;
    border: none;
    transition: all 0.2s ease-in;
}

.plan button:hover{
    color:black;
    background-color: white;
}