.signup{
    max-width:600px;
    position: relative;
    height: 70%;
    width:50%;
    padding: 1rem;
    margin: auto;
    background-color: rgba(0,0,0,0.75);
}

.signup form{
    display: flex;
    flex-direction: column;
}

.signup form h1{
    text-align: left;
    margin-left: 10%;
}

.signup form input{
    max-width: 70%;
    margin-left: 10%;
    padding: 10px;
    margin-top: 20px;
    border:none;
    outline:none;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    background-color:  rgba(47, 47, 47, 0.6);
}


.signup form button{
    margin-top: 20px;
    max-width: 70%;
    padding: 10px;
    margin-left: 10%;
    border: none;
    font-size: 25px;
    color:white;
    font-weight: 800;
    border-radius: 0.34rem;
    cursor: pointer;
    background-color: red;
}

.signup form h3{
    margin-top: 40px;
}

.grey{
    color:rgba(133, 123, 123, 0.623);
}

.link{
    color: white;
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}

